<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    
    
    
	<bean id="DeviceDao" class="sri.data.dao.DeviceDaoImpl">
<!-- 	    <property name="TestGetDeviceByName" value="Test1"/>   -->
	</bean>
		<bean id="DeviceDao2" class="sri.data.Device">
<!-- 	    <property name="TestGetDeviceByName" value="Test1"/>   -->
	</bean>
	<bean id="DeviceDao3" class="sri.data.dao.DeviceDaoImpl">
<!--  	    <property name="TestGetDeviceByName" value="Test1"/>    -->
	</bean>




</beans>
    